{% extends 'book/base.html' %}
{% load static %}

{% block content %}


<h3>{{ book.title }}</h3>

<h4 class="text-left">おすすめポイントや得られた知識を教えてください</h4>

<div class=row>
    <!--style="overflow-wrap: break-word;で文字が画面のサイズを超えた時に改行する-->
    <div class="col-sm-12 border text-justify" style="overflow-wrap: break-word;">
        {{ book.recommend_context }}
    </div>
</div>
</table>
<!--ログインしている時は編集ボタンを表示する-->
{% if user.is_authenticated %}
<a href="{% url 'book:book_edit' book_id=book.id %}" class="btn btn-primary btn-sm">編集</a>
{% endif %}

{% if book.title == '独学プログラマー' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07BKVP9QY&linkId=fd2ab6c67f90d8cf3725b90cc4797f6a&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == '君の膵臓をたべたい' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B071RFTDZG&linkId=1d668642a5e844ad28ca2edf01eb3b92&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == '超集中力' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B01FLFFF2Q&linkId=10a3876da0f4c35b6c5c3fb6349b4dd8&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == 'DUO' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B07KY6Z241&linkId=20287a659bc29d91733fd712607219b6&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == 'できるポケット HTML&CSS全辞典' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B084MBQ8W1&linkId=a4af8a54ef698cc350a3396f891e6db7&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == 'ストレスを力に変える教科書' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B01D34LCY2&linkId=a445baeb0266ff2368e2ed99ad6d5ee6&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif '現場で使えるDjnagoの教科書' in book.title %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4802094744&linkId=89ecbe2bd6bbc7ab34b1e191c242f4de&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == 'ゼロから作るDeep Learning' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4873117585&linkId=81fc10a7f20ae1068f1b15926834b76a&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == 'アイデアのつくり方' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4484881047&linkId=9a8981ccc1234a585e787f050075892c&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == 'ゼロ' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B00G9KDQQU&linkId=7b1e7583ecedcf41f3fac4554a6fb2fd&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% elif book.title == 'チーズはどこへ消えた？' %}
<iframe style="width:120px;height:240px; float: left;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=m2033099-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B00KD2IK4S&linkId=bf519647a164385c0a7681ce1265bbf4&bc1=000000&amp;lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
{% endif %}


{% endblock content %}