{% extends 'book/base.html' %}
{% load static %}

{% block content %}
<h1 style="margin-top: 10px;">こんにちは、{{ user }}さん</h1>
<p>おすすめしたい本を追加して下さい。追加の際は上のメニューからLoginをお願いします。初めての方は上のSign UpをしてからLoginをお願いします。</p>

<h3><i class="fas fa-book" style="margin-right: 15px;"></i>おすすめ本一覧</h3>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">カテゴリー</th>
            <th class="text-center">タイトル</th>
            <th class="text-center">著者</th>
            <th class="text-center">おすすめレベル</th>
            <th class="text-center">いいね</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td class="text-center">{{ book.category }}</td>
            <td class="text-center">{{ book.title }}</td>
            <td class="text-center">{{ book.author }}</td>
            <td class="text-center">{{ book.recommend_level }} / 10</td>
            <td class="text-center">
                <a href="{% url 'book:like' book_id=book.id %}" class="btn btn-primary btn-sm">いいね！({{book.like }})</a>
            </td>
            <td class="text-center">
                <a href="{% url 'book:book_detail' book_id=book.id %}" class="btn btn-primary btn-sm">詳細</a>
                <!--ログインしている時は削除ボタンを表示する-->
                {% if user.is_authenticated %}
                <a href="{% url 'book:book_delete' book_id=book.id %}" class="btn btn-secondary btn-sm">削除</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>



</table>
<div style="float: left;">
    {% if books.has_previous %}
    <a href="?page={{ books.previous_page_number }}">&lt; 前のページ</a>
    {% else %}
    <span>&lt; 前のページ</span>
    {% endif %}

    {{ books.number }}ページ

    {% if books.has_next %}
    <a href="?page={{ books.next_page_number }}">次のページ &gt;</a>
    {% else %}
    <span>次のページ &gt;</span>
    {% endif %}
</div>
<div style="clear: both;"></div>
<div style="margin-bottom: 10px;"></div>

<!--ログインしている時は追加ボタンを表示する-->
{% if user.is_authenticated %}
<div style="float: left;">
    <a href="{% url 'book:book_add' %}" class="btn btn-primary btn-sm">追加</a>
</div>
<div style="float: right;">
    <!--tweetボタン-->
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=本を追加しました。#recommend_book">Tweet</a>
</div>

{% endif %}

<div style="clear: both;"></div>
<div style="margin-bottom: 15px;"></div>

{% endblock content %}