{% extends 'book/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    .img {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .box {
        position: relative;
    }

    .box h1 {
        position: absolute;
        color: #ffffff;
        top: 125px;
        left: 50%;
    }

    .recommend {
        transform: translate(-50%, 0%);
    }
</style>
<div class="box">
    <img class="img" src="{% static 'book/books.jpg' %}"></img>
    <h1 class="recommend">おすすめの本を紹介しよう</h1>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="text-center" style="width: 120px;">画像</th>
            <th class="text-center" style="width: 200px;">タイトル</th>
            <th class="text-center" style="width: 150px;">著者</th>
            <th class="text-center" style="width: 150px;">おすすめレベル</th>
            <th class="text-center" style="width: 120px;">いいね</th>
            <th class="text-center" style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td class="text-center">
                {% if book.title == '独学プログラマー' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/B07BKVP9QY/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07BKVP9QY&linkCode=as2&tag=m2033099-22&linkId=864f7db55ec287004d123d9e19cc0f37"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B07BKVP9QY&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == '君の膵臓をたべたい' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/B071RFTDZG/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B071RFTDZG&linkCode=as2&tag=m2033099-22&linkId=ce71bfd26eb1ff9cce28dcc0e4fee65d"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B071RFTDZG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == '超集中力' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/B01FLFFF2Q/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01FLFFF2Q&linkCode=as2&tag=m2033099-22&linkId=b60c0a574394eefef49fe573e2ffdb31"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B01FLFFF2Q&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == 'DUO' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/B07KY6Z241/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07KY6Z241&linkCode=as2&tag=m2033099-22&linkId=779a7f65bb514433f45f609ddb133bd8"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B07KY6Z241&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == 'できるポケット HTML&CSS全辞典' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/4295008281/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4295008281&linkCode=as2&tag=m2033099-22&linkId=51391a0e64d0c0f7d11030d51d70b0f4"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4295008281&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == 'ストレスを力に変える教科書' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/B01D34LCY2/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01D34LCY2&linkCode=as2&tag=m2033099-22&linkId=f3945ff247d663468d7204b419414239"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B01D34LCY2&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif '現場で使えるDjangoの教科書' in book.title %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/4802094744/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4802094744&linkCode=as2&tag=m2033099-22&linkId=7b28dcc03770e305b65f30eff45b0c7a"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4802094744&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == 'ゼロから作るDeep Learning' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/4873117585/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4873117585&linkCode=as2&tag=m2033099-22&linkId=b6c32271b01f65de0ec4369667fbca2f"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4873117585&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == 'アイデアのつくり方' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/4484881047/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4484881047&linkCode=as2&tag=m2033099-22&linkId=c0bdf9a02c19ebeb3cb66bc9e78ee1e9"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4484881047&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == 'ゼロ' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/B00G9KDQQU/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00G9KDQQU&linkCode=as2&tag=m2033099-22&linkId=6fb0a4b402c19a60b667a30cdce8148c"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00G9KDQQU&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% elif book.title == 'チーズはどこへ消えた？' %}
                <a target="_blank"
                    href="https://www.amazon.co.jp/gp/product/B00KD2IK4S/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00KD2IK4S&linkCode=as2&tag=m2033099-22&linkId=3e9d20ac1e43bf5b5e9e4cfd81eac69a"><img
                        border="0"
                        src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00KD2IK4S&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=m2033099-22"
                        class="img"></a>
                {% endif %}
            </td>
            <td class="text-center">{{ book.title }}</td>
            <td class="text-center">{{ book.author }}</td>
            <td class="text-center">{{ book.recommend_level }} / 10</td>
            <td class="text-center">
                <form>
                    {% csrf_token %}
                    <a href="javascript:void(0)" id="book_{{ book.id }}" name="{{ book.id }}" type="button"
                        class="like btn btn-primary btn-sm" value="いいね ({{ book.like }})">いいね ({{ book.like }})</a>
                </form>
            </td>
            <td class="text-center">
                <a href="{% url 'book:book_detail' book_id=book.id %}" class="btn btn-primary btn-sm"
                    style="margin-right: 8px;">詳細</a>
                <!--ログインしている時は削除ボタンを表示する-->
                {% if user.is_authenticated %}
                <a href="{% url 'book:book_delete' book_id=book.id %}" class="btn btn-secondary btn-sm"
                    style="margin-left: 8px;">削除</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-secondary btn-sm" style="margin-left: 8px;">削除</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>



</table>
<div style="float: left;">
    {% if books.has_previous %}
    <a href="?page={{ books.previous_page_number }}">&lt; 前のページ</a>
    {% else %}
    <span>&lt; 前のページ</span>
    {% endif %}

    {{ books.number }}ページ

    {% if books.has_next %}
    <a href="?page={{ books.next_page_number }}">次のページ &gt;</a>
    {% else %}
    <span>次のページ &gt;</span>
    {% endif %}
</div>
<div style="clear: both;"></div>
<div style="margin-bottom: 10px;"></div>

<!--ログインしている時は追加ボタンを表示する-->
{% if user.is_authenticated %}
<div style="margin-left: 60px; float: left;">
    <a href="{% url 'book:book_add' %}" class="btn btn-primary btn-sm">追加</a>
</div>
{% else %}
<div style="margin-left: 60px; float: left;">
    <a href="{% url 'login' %}" class="btn btn-primary btn-sm">追加</a>
</div>
{% endif %}
<div style="float: left; margin-left: 30px;">
    <!--tweetボタン-->
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=本を追加しました。#recommend_book">Tweet</a>
</div>

<div style="clear: both;"></div>
<div style="padding-bottom: 100px;"></div>

<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    //いいねボタンが押されたら非同期通信を行う
    $('.like').on('click', function () {
        var book_id = $(this).attr('name')

        $.ajax({
            type: 'POST',
            method: 'POST',
            url: book_id + '/like/',
            data: {
                'id': book_id
            },
            dataType: 'json'
        }).done(function (data) {
            $('#book_' + String(data['book_id'])).text('いいね' + '(' + String(data['book_like']) + ')');
        })
    });
</script>

{% endblock content %}