{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <!--表示領域の横幅をデバイスと同じ横幅にする（width=device-width）
      表示倍率を1倍にする（initial-scale=1）
      iOSのSafariで表示倍率を自動的に縮小する処理を無効にする（shrink-to-fit=no）-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Bootstrap-->
    <title>Recommend Book</title>

</head>

<body>
    <header class='site-header'>
        <nav class="navbar navbar-expand navbar-dark" style='background-color:#2d2d2d'>
            <a href="{% url 'book:book_list' %}" class='navbar-brand'>Home</a>
            <ul class='navbar-nav'>
                <!--ログイン時にはログインしたユーザー名とLogoutを表示する-->
                {% if user.is_authenticated %}

                <li><a href="{% url 'logout' %}">Logout</a></li>
                <!--ログインしていない時はLoginを表示する-->
                {% else %}
                <li class='nav-item'><a href='#' class='nav-link'>Login</a></li>


                <li class="nav-item">
                    <a href='{% url "accounts:signup" %}' class='signup nav-link'> Sign up </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main role='main' class='container-field' style="margin: 15px;">
        <div class='row'>
            <div class='col-xs-12'>
                {% block content %}{% endblock content %}

            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</body>

</html>